.skills .Masumbillaah {
  border-radius: 10px;
  overflow: hidden;
}
.skills img {
  border-left: 10px solid tomato;
  border-image: linear-gradient(tomato, purple);
  border-image-slice: 1;
}
.skills h3 {
  border-bottom: 1px solid var(--primaryColor);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: poppins;
}
