.contact {
  background-image: url(../../../../media/contact-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-bottom: 20px;
  background-blend-mode: multiply;
}
